$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$accentColor: #3145B6;
$lightblue: #788CEC;


$whiteColor: #ffffff;
$midWhite: #EBECF2;

$defaultTextColor: #333333;

$grey: #F5F5F5;
$midGrey: #A1A1A1;
