@import "../abstracts/mixins";
@import "../abstracts/variables";

.container {
  //max-width: 1410px;
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;

  @media (min-width: 1440px)and (max-width: 1920px) {
    max-width: 1600px;
    padding: 0 60px;
  }
  @media (min-width: 2560px) {
    max-width: 2560px;
    padding: 0 60px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.m-auto {
  display: block;
  margin: auto;
}

.m-row {
  margin: 0 -15px;
  @media (max-width: $breakpoint-sm) {
    margin: 0;
  }
}

.p-0 {
  padding: 0;
  @media (max-width: $breakpoint-sm) {
    //padding: 0 15px;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.column {
  padding: 0 15px;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    padding: 0;
  }
}

.align-self-middle {
  -webkit-align-self: center;
  align-self: center;
}

.align-self-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-spaced {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-start {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
}

.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-content-justify {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-xl)) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}


/* small phones grid*/
@media (max-width: (475px)) {
  @for $i from 1 through 12 {
    .col-exs-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}
/*
$count: 0;
@for $i from 1 through 100 {
  @if $i % 2 != 0 {
    $count: $i;
  }
  @if $i % 4 == 0 {
    .post-item:nth-child(#{$i}) {
      @include count($count);
    }
  }
}*/