@font-face {
    font-family: "Mark";
    src: local("Mark Black Italic"), local("Mark-Black-Italic"),
        url("Mark-Black-i.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Mark";
    src: local("Mark Heavy"), local("Mark-Heavy"),
        url("Mark-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Mark";
    src: local("Mark Bold"), local("Mark-Bold"),
        url("Mark-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Mark";
    src: local("Mark Medium"), local("Mark-Medium"),
        url("Mark-Medium.ttf") format("truetype");
    /* font-weight: 500; 550*/
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Mark";
    src: local("Mark Book"), local("Mark-Book"),
        url("Mark-Book.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Mark";
    src: local("Mark Regular"), local("Mark-Regular"),
        url("Mark-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}